<<<<<<< HEAD
p {
color: blue;
font-family: Arial;
}
h1, h2 {
color:red;
}
h3 {
color:blue;
=======
p {
color: blue;
font-family: Arial;
}
h1, h2 {
color:red;
}
h3 {
color:blue;
>>>>>>> 6d0d84d05dcc3035707085d1ae0d7eb8d93f2ff4
}