body {
    font-family: Arial, sans-serif;
    background-color: #e9ebbe;
    margin: 10px;
    padding: 20px;
}
.button-container {
    position: fixed;
    top: 59px;
    right: 40px;
}
.menu-kink {
    display: flex;
    flex-direction: column;
    gap: 10px;


}