<<<<<<< HEAD
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 10px;
}
th
{
    color: white;
=======
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 10px;
}
th
{
    color: white;
>>>>>>> 6d0d84d05dcc3035707085d1ae0d7eb8d93f2ff4
}